.login_banner{
  background-image: url("https://www.mocindia.co.in/uploads/images/mobile_banner-10-1.webp");
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;
}
